#Nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    background-color: #000406ee;
    height:150px;
    
}
#Nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}


#Nav img{
    width: 10%;
}

.search-box {
    display: inline-block;
    position: relative;
  }

  .search-box input[type="text"] {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 14px;
    width: 300px;
  }


  .search-box button {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    padding: 8px 15px;
    background-color: #555;
    border: none;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
  }

  .search-box button:hover {
    background-color: #333;
  }

  #l-btn {
    padding: 10px 20px;
    background-color: #4c70b7;
    border: none;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  #l-btn:hover {
    background-color: #333;
  }