.cnt-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 80%;
  }
  
  .card {
    width: 300px;
    
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
  }

  
  
  .video-container {
    position: relative;
    padding-bottom: 50.25%;
    height:0;
  

  }
  
  iframe {
    
  }
  
  .d-cnt {
    padding: 5px;
   
    justify-content: space-between;
    transition: background-color 0.3s ease;
  }

  .d-cnt:hover{
    background-color: lightgray;
  }
  
  h3 {
    margin-top: 0;
    font-size: 18px;
  }
  
  .round-button {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    outline: none;
    border:none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .round-button:hover{
    background-color:white
  }
  
  .dot {
    width: 5px;
    height: 5px;
    background-color: black;
    border-radius: 50%;
  }

  #DAE{
display: flex;
padding:5px;
justify-content: space-between;
  }
  
  .edit{
color: white;
background-color: rgb(71, 106, 195);
border-radius: 10px;
cursor: pointer;
  }

  .Delete{
    color: white;
    background-color: rgb(7, 149, 7);
    border-radius: 10px;
    cursor: pointer;
  }

  .scrollable-paragraph {
    max-height: 55px; /* Adjust the maximum height as needed */
    overflow-y: auto;
    margin-top:-22px;
    
  }
  
  .show-more {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: blue;
  }

  #show{
    color: blue;
    font-size: small;
    cursor: pointer;
  }

.Deletebox{
height:70%;
width:80%;
margin: auto;
}

.Editbox{
  width:100%;
  height:100%;
}
